:host {
  display: block;
  padding: 16px 0;
}

.mat-nav-list {
  padding: 0;
}

a {
  height: 48px !important;
  position: relative;
  transition: background-color 0.3s ease;

  &.active {
    background-color: rgba(var(--primary-color-rgb), 0.1);
    span {
      color: var(--primary-color);
    }
    mat-icon {
      color: var(--primary-color);
    }


  }
}

mat-icon {
  margin-right: 16px;
  transition: color 0.3s ease;
}
